<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value=""/>
    <add key="NewVersionServer" value=""/>
    <add key="EnableDiagnosticActions" value="False"/>
    <add key="Languages" value="es"/>
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=PDNOriginacionEasyTest"/>
    <add name="ConnectionString" connectionString="Pooling=false;Data Source=localhost;User ID=pdnoriginacion;Password=pdnoriginacionPa$$w0rd;;Initial Catalog=PDNOriginacion"/>
    <!--    
    Use the following connection string to connect to a Jet (Microsoft Access) database that is already created and located in the <application root>/app_data folder. 
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=|DataDirectory|\PDNOriginacion.mdb;Mode=Share Deny None;"/>
    If the database doesn't exist, it won't be created until you replace the |DataDirectory| substitution string with the fully qualified path to the database. For instance:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=C:\myDataFolder\PDNOriginacion.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3"/>
      <!--
      <add name="XPO" value="3" />
      -->
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
   
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   
        <dependentAssembly>
   
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="DevExpress.Persistent.Base.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="DevExpress.ExpressApp.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="DevExpress.Xpo.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="DevExpress.ExpressApp.StateMachine.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="DevExpress.Data.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="DevExpress.ExpressApp.Security.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="DevExpress.ExpressApp.ConditionalAppearance.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="DevExpress.ExpressApp.Validation.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
   
            <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
   
        </dependentAssembly>
   
    </assemblyBinding>
  </runtime>
</configuration>
