<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Console" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.Base.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.BaseImpl.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Security.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Xpo.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraBars.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Win.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Validation.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.ConditionalAppearance.v18.1" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.1.7.0" newVersion="18.1.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Security.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.Base.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Security.Xpo.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Xpo.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.ConditionalAppearance.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Validation.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.StateMachine.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.BaseImpl.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraBars.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Win.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Persistent.Base" publicKeyToken="c52ffed5d5ff0958" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.704.0" newVersion="18.2.704.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Security" publicKeyToken="c52ffed5d5ff0958" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.704.0" newVersion="18.2.704.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Utils" publicKeyToken="c52ffed5d5ff0958" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.704.0" newVersion="18.2.704.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="50cebf1cceb9d05e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.10.3.0" newVersion="0.10.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraGrid.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraLayout.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraNavBar.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.CodeParser.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.1.0.0" newVersion="8.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.RichEdit.v18.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Office.v18.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Web.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Web.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.2.8.0" newVersion="18.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.ModelViewInheritance" publicKeyToken="c52ffed5d5ff0958" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.10.0" newVersion="1.1.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.ModelViewInheritance" publicKeyToken="c52ffed5d5ff0958" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.9.0" newVersion="1.1.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
