 <appSettings>
   <!--<add key="urlVisor" value="https://visordemo.itti.digital/Visor.aspx" />
   <add key="urlVisor" value="http://localhost:61278/Visor.aspx" />
   <add key="urlVisorGallery" value="http://localhost:61278/Gallery.aspx" />  
   <add key="urlVisor" value="https://pca.itti.digital/credifacilviewer/Visor.aspx" />
   <add key="urlVisorGallery" value="https://pca.itti.digital/credifacilviewer/Gallery.aspx" />   
   -->
   <add key="urlVisor" value="https://pcacredifacil.itc.ad/credifacilviewer/Visor.aspx" />
   <add key="urlVisorGallery" value="https://pcacredifacil.itc.ad/credifacilviewer/Gallery.aspx" />
   <add key="aesPassword" value="qidjiuhw238382383hhhhHGGG" />
   <add key="ActualizarEstadoPersona" value="S" />
   <add key="ADDomain" value="itc.ad" />
   <add key="ADServer" value="itc.ad" />
   <add key="ThumbnailWidth" value="180" />
   <add key="ThumbnailHeight" value="255" />
   <add key="GDPKey" value="211840646508621520914015645256211" />
   <add key="ADDefault" value="S" />
   <add key="Prediction_validar" value="N" />
   <!--<add key="PdnURI" value="https://pca.itti.digital/credifacilmotor/Experto.svc" />-->
   <add key="PdnURI" value="https://pcacredifacil.itc.ad/credifacilmotor/Experto.svc" />
   <add key="PdnUser" value="credifacil" />
   <add key="PdnPass" value="credifacil" />
   <add key="DashboardUser" value="pca-demo-dash" />
   <add key="DashboardPass" value="dashPa$$w0rd" />
   <add key="DashboardServer" value="localhost" />
   <add key="DashboardDB" value="PCA-DEMO1" />
   <add key="Modules" value="" />
   <add key="ErrorReportEmail" value="" />
   <add key="ErrorReportEmailServer" value="" />
   <add key="SimpleErrorReportPage" value="" />
   <add key="RichErrorReportPage" value="Error.aspx" />
   <add key="EnableDiagnosticActions" value="False" />
   <add key="Languages" value="es;es-PY" />
   <add key="Prediction_apiKey" value="a7155db962cd40a6bee0d1edc0e4f377" />
   <add key="Prediction_projectID" value="168f047a-35bc-4548-8fc4-333bd844428b" />
   <add key="IVA" value="10" />
   <add key="UsarCustomDetailView" value="S"/>
   <!--<add key="CodigoInstancia" value="SERSA" />-->
   <!--<add key="CodigoInstancia" value="ACI" />-->
   <add key="CodigoInstancia" value="CREDIFACIL" />
   <!--<add key="CriteriaDescPersona" value="NombreCompleto" />-->
   <add key="CriteriaDescPersona" value="'(' + Iif(Trim(Documento) != '' , Documento, 'S/D') + ')' + ' - ' + Iif(Contains(NombreCompleto, 'S/'),Iif(TelefonoPreferido != null, TelefonoPreferido, 'S/Telefono'),NombreCompleto)" />
   <add key="CargarDatosMaestros" value="S" />
 </appSettings>
